<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Склад</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:insert="header"></div>
<div th:insert="menu"></div>
<div th:insert="business/storage_menu"></div>

<div class="container">
    <div class="items_menu">
        <a class="green" th:href="@{/storage/categories/edit}">Создать категорию</a>
    </div>

    <div class="items_box">

        <p th:if="${categories.isEmpty()}">Пока у вас нет категорий!</p>

        <div th:if="${!categories.isEmpty()}" id="items_list">
            <table class="item_table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Наименование</th>
                    <th>*</th>
                    <th>*</th>
                </tr>
                </thead>
                <tbody>
                <tr id="item" th:each="categories, state : ${categories}">
                    <td th:utext="${state.count}">id</td>
                    <td th:utext="${categories.getCategoriesName}" style="text-align: left;">titleName</td>
                    <td>
                        <form th:action="@{/storage/categories/edit/{id}(id=${categories.getId})}" method="get">
                            <button type="submit">Редактировать</button>
                        </form>
                    </td>

                    <td>
                        <form th:action="@{/storage/categories/edit/{id}(id=${categories.getId})}" th:method="post">
                            <button type="submit"
                                    th:onclick="if(!(confirm('Вы действительно хотите удалить запись?') )) return false">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div th:insert="footer"></div>

</body>
</html>