<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактор</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:insert="header"></div>
<div th:insert="menu"></div>
<div th:insert="business/storage_menu"></div>

<div class="container">
    <form th:object="${item}" th:action="@{/storage/edit} " method="post">
        <input type="hidden" th:value="${item.getId}" name="id"/>
        <input type="hidden" th:value="${item.getStatus}" name="status"/>
        <input type="hidden" th:value="${item.getUserId}" name="userId"/>
        <input type="hidden" th:value="${item.getCreationDate()}" name="creationDate"/>
        <div class="items_box">
            <div>
                <input class="green" type="submit" value="Сохранить"/>
                <a class="green" th:href="@{/}">Назад</a>
            </div>
            <table class="item_table">
                <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Категория</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Объем</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${item}">

                    <td><input th:value="${item.getTitleName}" type="text" name="titleName"/></td>
                    <td><input th:value="${item.getCategory}" type="text" name="category"/></td>
                    <td><input th:value="${item.getPrice}" type="text" name="price"/></td>
                    <td><input th:value="${item.getAmount}" type="text" name="amount"/></td>
                    <td><input th:value="${item.getWeight}" type="text" name="weight"/></td>

                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>

<div th:insert="footer"></div>

</body>
</html>


